<settings>
    <servers>
        <server>
            <id>central</id>
            <username>${sonatype.username}</username>
            <password>${sonatype.password}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.passphraseEnvName>sonatype.gpg.passphrase</gpg.passphraseEnvName>
            </properties>
        </profile>
    </profiles>
</settings>
