<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${MAVEN_USERNAME}</username>
            <password>${MAVEN_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.passphraseEnvName>GPG_PASSPHRASE</gpg.passphraseEnvName>
            </properties>
        </profile>
    </profiles>
</settings>
