<settings>
    <servers>
        <server>
            <id>central</id>
            <username>${sonatype.username}</username>
            <password>${sonatype.password}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg2</gpg.executable>
                <gpg.passphraseEnvName>GPG_PASSPHRASE</gpg.passphraseEnvName>
                <gpg.keyEnvName>GPG_KEY</gpg.keyEnvName>
            </properties>
        </profile>
    </profiles>
</settings>
